/*
 * Additional CSS for Hyde-X
 */

.posts {
  list-style: none;
}

.sidebar-about img {
  margin: 0 auto 0.5rem auto;
  width: 150px;
  height: 150px;
}
@media (min-width: 48em) {
  .sidebar-about img {
    margin: 0 0 0.75rem 0;
    width: 175px;
    height: 175px;
  }
}
@media (min-width: 58em) {
  .sidebar-about img {
    margin: 0 0 1rem 0;
    width: 200px;
    height: 200px;
  }
}
